* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000;
    --red: #ff0000;
    --blue: #0000ff;
    --yellow: #ffff00;
    --green: #0d6d0d;
    --gun-metal: #00272b;
    --chartreuse: #e0ff4f;
    --graybg: #212121;
    --gray: #808080;
    --claret: #C30F45;
    --dark-purple: #231123;
    --beige: #FFF2EB;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: var(--gun-metal);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
